.cloud-card__content {
  display: flex;
}

.cloud-card-content__card-prewiew {
  --creditcard-width: 320px;
  --creditcard-height: 205px;
  --size: 25px;
  max-width: var(--creditcard-width);
  padding: 0 0 0 10px;
  position: relative;
  margin-right: 40px;
}

.cloud-card-content__card-prewiew::after {
  content: "";
  position: absolute;
  top: 0;
  right: -40px;
  height: 200px;
  width: 1px;
  background-color: rgba(var(--color-gray-light), 0.7);
}

.card-prewiev-wrapper {
  --quantity: 2;

  position: relative;
  overflow: hidden;
  width: calc(var(--creditcard-width) + 10px);
  padding: 0 20px 0 0;
}

.card-prewiev {
  display: flex;
  width: calc(var(--creditcard-width) * var(--quantity) + 25px);
  padding: 0 0 10px 0;
}

.card-prewiev__btn-left,
.card-prewiev__btn-right {
  position: absolute;
  background-color: transparent;
  border: none;
}

.card-prewiev__btn-left .card-prewiev-left__img,
.card-prewiev__btn-right .card-prewiev-right__img {
  width: var(--size);
  height: var(--size);
  stroke: rgb(var(--color-blue-light));
  transition: 0.3s ease-in-out;
}

.card-prewiev__btn-left path,
.card-prewiev__btn-right path {
  transition: 0.3s ease-in-out;
}

.card-prewiev__btn-left:hover path,
.card-prewiev__btn-right:hover path {
  stroke: rgb(var(--color-blue-dark));
}

.card-prewiev__btn-left {
  left: 10px;
  top: calc(0px + var(--creditcard-height) * 0.5);
  transform: translate(-100%, -50%);
}

.card-prewiev__btn-right {
  right: 0px;
  top: calc(0px + var(--creditcard-height) * 0.5);
  transform: translate(100%, -50%);
}

.weekly-limit__progress-bar,
.weekly-limit__description {
  width: 100%;
}

.weekly-limit__progress-bar {
  margin-top: 20px;
  height: 30px;
}

.weekly-limit__description {
  display: flex;
  justify-content: space-between;
}

.weekly-limit-description__title {
  font-family: var(--app-font-suprema);
  font-weight: 400;
  font-size: 16px;
  color: rgb(var(--color-gray));
}

.weekly-limit-description__value {
  font-family: var(--app-font-lato);
  font-weight: 600;
  font-size: 14px;
}

.cloud-card-content__card-balance {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  position: relative;
}

.card-balance__item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

.card-balance-item__value {
  font-family: var(--app-font-lato);
  font-weight: 600;
  font-size: 22px;
}

.card-balance-item__value--large {
  font-size: 35px;
  font-weight: 700;
}

.card-balance-item__value--blue {
  color: rgb(var(--color-blue-light));
}

.card-balance-item__value--green {
  color: rgb(var(--color-green));
}

.card-balance-item__value--red {
  color: rgb(var(--color-red));
}

.card-balance-item__description {
  font-family: var(--app-font-suprema);
  color: rgb(var(--color-gray-light));
  font-size: 15px;
  text-transform: capitalize;
}

.card-balance-item__checkbox-label {
  position: relative;
  margin-bottom: 5px;
  width: 60px;
  height: 30px;
  display: inline-block;
  background-color: rgba(var(--color-gray-light), 0.6);
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

#card__checkbox {
  position: fixed;
  transform: scale(0);
}

.card-balance-item__checkbox-label::after {
  content: "";
  position: absolute;
  left: -1px;
  top: 0px;
  width: 30px;
  height: 30px;
  background-color: rgb(var(--color-gray-light));
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.card-balance-item__checkbox-label:active::after {
  box-shadow: 0 0 0 15px rgba(var(--color-blue-light), 0.2);
}

#card__checkbox:focus-visible + .card-balance-item__checkbox-label::after {
  box-shadow: 0 0 0 20px rgba(var(--color-blue-light), 0.2);
}

#card__checkbox:checked + .card-balance-item__checkbox-label {
  background-color: rgba(var(--color-blue-light), 0.5);
}

#card__checkbox:checked + .card-balance-item__checkbox-label::after {
  transform: translateX(calc(100% + 4px));
  right: -1px;
  background-color: rgb(var(--color-blue-light));
}

@media (max-width: 750px) {
  .cloud-card-content__card-prewiew {
    --creditcard-width: 290px;
    --creditcard-height: 190px;
  }
}

@media (max-width: 800px) {
  .cloud-card-content__card-prewiew {
    margin-right: 30px;
  }

  .cloud-card-content__card-prewiew::after {
    right: -30px;
  }

  .cloud-card-content__card-balance {
    justify-content: flex-end;
  }

  .card-balance-item__value {
    font-size: 20px;
  }
}
