.transaction-card {
  padding: 25px;
}

.transction-card__table {
  --icon-size: 25px;
}

.transaction-card-table__row {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(var(--color-gray-light), 0.2);
  padding: 10px 0;
}

.transaction-card-table__row-header {
  border: none;
}

.transaction-card-table__row-header .transaction-card-table-row__reciever {
  padding: 0;
}

.transaction-card-table__row-header .transaction-card-table-row__reciever,
.transaction-card-table__row-header .transaction-card-table-row__type,
.transaction-card-table__row-header .transaction-card-table-row__date,
.transaction-card-table__row-header .transaction-card-table-row__amount {
  font-family: var(--app-font-suprema);
  font-weight: 400;
  font-size: 14px;
  color: rgb(var(--color-gray-light));
}

.transaction-card-table-row__reciever,
.transaction-card-table-row__type,
.transaction-card-table-row__date,
.transaction-card-table-row__amount {
  margin: 5px 0;
  text-transform: capitalize;
  font-family: var(--app-font-suprema);
  font-weight: 400;
  font-size: 14px;
  color: rgb(var(--color-gray-light));
}

.transaction-card-table-row__reciever {
  width: 40%;

  position: relative;
  padding-left: calc(var(--icon-size) + 5px);
  color: rgb(var(--color-black));
}

.transaction-card-table-row-reciever__icon {
  position: absolute;
  width: var(--icon-size);
  height: var(--icon-size);
  left: 0;
  top: 50%;
  transform: translatey(-50%);
}

.transaction-card-table-row__type {
  width: 20%;
}

.transaction-card-table-row__date {
  width: 25%;
}

.transaction-card-table-row__amount {
  width: 15%;
  font-family: var(--app-font-lato);
  font-weight: 700;
  font-size: 14px;
  color: rgb(var(--color-black));
  text-align: end;
}
