@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/Lato-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/Lato-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/Quicksand-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Quicksand-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Suprema";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Suprema-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Suprema";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/Suprema-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Suprema";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Suprema-Bold.ttf") format("truetype");
}
