.app-header {
  margin-top: 32px;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  box-shadow: 20px 13px 20px 20px white;
  z-index: 10;
}

.app-header__title-wrapper {
  margin-left: 45px;
}

.app-header__title {
  font-family: var(--app-font-suprema);
  font-weight: 600;
  color: rgb(var(--color-black));
  font-size: 44px;
  margin: 3px 0;
}

.app-header__subtitle {
  font-family: var(--app-font-suprema);
  font-weight: 400;
  color: rgb(var(--color-gray-light));
  font-size: 16px;
  margin: 0;
}

.app-header__account-actions-wrapper {
  --size: 25px;
  margin-right: 45px;
  margin-left: auto;
  display: flex;
}

.app-header-actions__btn {
  background-color: transparent;
  border: none;
  margin-right: 10px;
  position: relative;
}

.app-header-actions__btn--burger {
  display: none;
}
.app-header-actions__btn--burger svg {
  fill: rgb(var(--color-gray-light));
}

.app-header-actions-btn__img {
  width: var(--size);
  height: var(--size);
  transition: stroke 1s ease-in-out;
}

.app-header-actions__btn::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0px;
  height: 1px;
  border-radius: 10px;
  display: block;
  background: rgb(var(--color-gray-light));
  transition: 0.3s ease-in-out;
}

.app-header-actions__btn:hover::after {
  width: 100%;
}

.app-header-actions__link {
  text-decoration: none;
  --avatar-size: 35px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: calc(var(--avatar-size) + 10px);
}

.app-header-actions__link:hover .app-header-actions-link__avatar {
  background-color: rgba(var(--color-yellow), 0.8);
}

.app-header-actions-link__avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  background-color: rgb(var(--color-yellow));
  position: absolute;
  top: 50%;
  left: 0;
  transform: translatey(-50%);
  transition: background-color 0.3s ease-in-out;
}

.app-header-actions-link__name {
  font-family: var(--app-font-suprema);
  font-weight: 600;
  color: rgb(var(--color-black));
}

.app-header-actions-link__account-type {
  font-family: var(--app-font-suprema);
  font-weight: 400;
  color: rgb(var(--color-gray-light));
}

.app-header-actions-link__account-type::after {
  content: "";
  width: 0px;
  height: 1px;
  border-radius: 10px;
  display: block;
  background: rgb(var(--color-gray-light));
  transition: 0.3s ease-in-out;
}

.app-header-actions__link:hover .app-header-actions-link__account-type::after {
  width: 100%;
}

@media (max-width: 1050px) {
  .app-header__title-wrapper {
    margin-left: 20px;
  }

  .app-header__title {
    font-size: 36px;
  }

  .app-header__subtitle {
    font-size: 15px;
  }

  .app-header__account-actions-wrapper {
    margin-right: 20px;
  }
}

@media (max-width: 870px) {
  .app-header__subtitle {
    display: none;
  }
}

@media (max-width: 720px) {
  .app-header {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 15px;
    padding: 0;
  }

  .app-header__title-wrapper {
    margin: 0 0 10px 0;
  }

  .app-header__title {
    font-size: 30px;
  }

  .app-header__account-actions-wrapper {
    margin: 0;
    padding: 0 15px;
  }

  .app-header-actions__btn--burger {
    display: inline-block;
  }

  .app-header-actions__link {
    margin-left: auto;
  }

  .app-header-actions-link__avatar {
    --avatar-size: 30px;
  }

  .app-header-actions-link__name,
  .app-header-actions-link__account-type {
    font-size: 15px;
  }
}
